@model CreateCargoOperationDto
@{
    ViewData["Title"] = "NewCargoOperation";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Kargo Hareketi Ekle</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="post">

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Barkod</label>
                                    <div class="col-sm-10">
                                        <input type="text" asp-for="Barcode" value="@ViewBag.Barcode" class="form-control" readonly style="background-color: #eee;" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Durum / Açıklama</label>
                                    <div class="col-sm-10">
                                        <input type="text" asp-for="Description" class="form-control" placeholder="Örn: Transfer Merkezinde, Dağıtıma Çıktı..." list="statusOptions" required />

                                        <datalist id="statusOptions">
                                            <option value="Transfer Merkezine Ulaştı" />
                                            <option value="Şubeye Ulaştı" />
                                            <option value="Dağıtıma Çıktı" />
                                            <option value="Teslim Edildi" />
                                            <option value="Teslim Edilemedi - Adreste Yok" />
                                        </datalist>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10 offset-sm-2">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-plus-circle"></i> Hareketi Kaydet
                                        </button>
                                        <a href="/Admin/Cargo/CargoDetailList" class="btn btn-light">İptal</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>