<style>
    .vendor-image {
        width: 200px;
        height: 100px;
        object-fit: contain;
    }
</style>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img class="vendor-image" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/43/Lacoste_logo.svg/800px-Lacoste_logo.svg.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLqzETm8GIxakz0gSccanQ-CbP-Hu-F6W8dw&s" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="https://logos-world.net/wp-content/uploads/2020/04/Adidas-Logo.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUmZ2-ebnSJXkuMzCVvb1lMMlccjHAH-Sgj6Ter9hBvOzvOWYTQnNDfH5iZ2UP0t9vNPI&usqp=CAU" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5cRjEcibXW5ZHFumI8KE-_UrchccETnP5WQ&s" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ltkUVPBkianytcLlvKvC0VN9ftBiJGazuA&s" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREAeBftJs0fAMqy5l5CC06_gZPyjQW7fvnlw&s" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="https://seeklogo.com/images/A/adore-mobilya-logo-B0396576DC-seeklogo.com.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>