@model List<ResultInboxMessageDto>

@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container my-5">
    <h3 class="text-center mb-4">Mesajlaşma</h3>
</div>